@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
nav {
  background-color: #023047;
  font-family: "Montserrat";
  font-weight: 500;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}
#About {
  background-color: #ffffff;
}
#Projects {
  background-color: #e2edff;
}
.btn {
  background-color: #023047;
  border-color: #023047;
}
section {
  padding-top: 5rem;
}
footer {
  background-color: #023047;
}
