@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
nav {
  background-color: #003049;
  font-family: "Segoe UI";
  font-weight: 500;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}
#About {
  background-color: #ffffff;
}
#Projects {
  background-color: #e2edff;
}

.btn {
  background-color: #003049;
  border-color: #003049;
}
section {
  padding-top: 5rem;
}
footer {
  background-color: #003049;
}

.projectlink {
  text-decoration: none;
  color: #212529;
}

.projectlink:hover {
  color: #212529;
}

.code {
  font-weight: bold;
  font-size: 1.2em;
  color: #ab2330;
  opacity: 0;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.projectlink:hover .code {
  opacity: 1;
}
